section{
    .sponsors{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .crousel{
            .slide{
                .corousel-inner{
                    .carousel-item{
                        img{
                            height: 120px;
                            width: 140px;
                        }
                    }
                }
            }
        }
     }

} 
  